* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.lastpart::selection {
  background: #242424;
  color: white;
}

p::selection {
  background: #242424;
  color: white;
}

::placeholder {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1::selection {
  background: #242424;
  color: white;
}

h2::selection {
  background: #242424;
  color: white;
}

blockquote::selection {
  background: #242424;
  color: white;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

header ul {
  position: relative;
  display: flex;
  margin-top: 10px;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-family: sans-serifz;
  font-size: 18px;
  padding: 0 10px;
  color: black;
}

header #logo {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 10px;
}

.section1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: url("img5.jpg");
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

/* .section1::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: #fff;
  clip-path: polygon(100% 45%, 0% 100%, 100% 100%);
} */

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 51%;
  color: white;
  border: none;
  outline: none;
}

.box h1 {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box div {
  margin: 0 10%;

}

.box div p {
  margin-top: 20px;
  line-height: 33px;
  font-size: 20px;
  text-align: center;
}

.box a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  background: transparent;
  border: 2px solid white;
  transition: 0.5s;
  border-radius: 5px;
}

.box a:hover {
  background: white;
  color: black;
}

.pointer {
  position: relative;
  padding-top: 200px;
  cursor: pointer;
}

.arrow {
  height: 30px;
  width: 30px;

  border: 2px solid rgba(255, 255, 255, 0.863);
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transition: 1s;
}

.none {
  opacity: 0;
  cursor: auto;
}

.container2 h1 {
  position: relative;
  margin: 10px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.container2 form {
  /* text-align: center; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 form div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container2 form div input {
  position: relative;
  width: 200px;
  padding: 10px 10px;
  font-weight: 400;
  border: 1px solid black;
  outline: none;
}

.container2 form div label {
  position: relative;
  margin: 10px 0;
  font-weight: 500;
}

.top-display {
  position: relative;
  background: url("space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 500px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.2px;
  justify-content: center;
  align-items: center;
}

.banner {
  margin: 20px 20px;
  position: relative;
  height: 40vh;
  width: 95%;
}

hr {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.other-stuff {
  display: block;
  margin: 5px 0;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}

.noroutemessage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  font-family: cursive;
}

.noroutemessage a {
  color: rgb(137, 13, 224);
  text-decoration: none;
}

.noroutemessage img {
  position: relative;
  width: 50%;
  height: auto;
}

.content {
  position: relative;
  margin: 0 90px;
}

.content div h1 {
  margin: 0 20%;
  font-size: 40px;
  font-weight: 400;
}

.content div h2 {
  margin: 10px 20%;
  font-size: 35px;
  /* font-weight: 900; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content div img {
  margin: 30px 20%;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.para {
  font-size: 20px;
  font-weight: 100;
  line-height: 32px;
  margin: 30px 20%;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: 1px;
}

.para a {
  text-decoration: none;
  color: rgb(137, 13, 224);
}

.para a:hover {
  color: rgb(216, 62, 236);
}

blockquote {
  font-size: 18px;
  font-weight: 100;
  font-family: cursive;
  line-height: 28px;
  margin: 30px 20%;
  padding: 10px;
  border-left: 5px solid rgb(0, 195, 255);
}

.small-displays {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: 0 35px 50px 0 rgb(0 0 0 / 11%);
  transition: 0.3s all;
}

.small-displays:hover {
  transform: scale(1.09);
}

.small-displays img,
iframe {
  border-radius: 6px;
}

.small-displays div {
  padding: 10px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #738a94;
}

.small-displays h1 {
  background: #fff;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px 15px;
  width: 200px;
}

.small-displays p {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  font-weight: 300;
  line-height: 25px;
  padding: 0px 15px;
  width: 200px;
}

.other-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.section2 h1 {
  position: relative;
  font-family: "Stick No Bills", sans-serif;
  font-size: 48px;
  letter-spacing: 1.6px;
}

.section2 .flex-articles {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section2 .flex-articles .box3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 15px;
  /* padding: 15px 20px; */
  margin: 0 20px;
  background: #eeeeee;
  margin: 15px;
  transition: 0.2s;
}

.section2 .flex-articles .box3:hover {
  transform: translateY(-20px);
}

.section2 .flex-articles .box3 img {
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.section2 hr {
  width: 100px;
  border: 2px solid blue;
}

.section2 .flex-articles .box3 a {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}

.section2 .flex-articles .box3 p {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  margin-left: 15px;
  margin-bottom: 30px;
}

.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: url('imgspace2.jpg') center no-repeat;
  background-size: cover;
}

.section3 h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 40px;
}

.main-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section3 .main-contact .main-log {
  margin-left: 10vw;
}

.section3 .main-contact .contact {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.section3 .main-contact .contact .group1 {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.section3 .main-contact .contact .group1 input {
  margin: 10px 0;
}

.section3 .main-contact .contact .group1 #input1 {
  margin-right: 15px;
}

.section3 .main-contact .contact input,
textarea {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.23);
  padding: 16px 32px;
  color: white;
  resize: none;
}

.section3 .main-contact .contact button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid white;
  ;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.section3 .main-contact .contact button:hover {
  background: white;
  color: black;
}

.lastpart {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 20px;
}

.exp-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.diff-sections {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: none;
}

.diff-sections:nth-child(1) {
  display: flex;
}

.info {
  display: flex;
  flex-direction: row;
  box-shadow: 0 35px 50px 0 rgb(0 0 0 / 3%);
  transition: 0.2s all;
  margin: 25px 20px;
}

.info:hover {
  transform: scale(1.05);
}

.exp-display .diff-sections .info img {
  height: 300px;
  width: 400px;
}

.part1 {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
}

.part1 a h2 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.part1 p {
  margin: 10px 40px;
  line-height: 27px;
  font-family: Georgia, serif;
}

.part1 div {
  margin: 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #738a94;
}

#load-more {
  width: 200px;
  margin: 50px 0;
  text-align: center;
  padding: 16px 32px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  /* background: purple; */
  background: linear-gradient(60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  border-radius: 28px;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  letter-spacing: 1.2px;
  font-size: 15px;
}

@media screen and (max-width: 780px) {
  .section3 .main-contact .main-log {
    display: none;
  }

  .section3 .main-contact .contact {
    width: 100%;
    margin: 0 25px;
    justify-content: center;
  }

  .section3 .main-contact .contact .group1 {
    flex-direction: column;
  }

  .section3 .main-contact .contact .group1 #input1 {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .para {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    line-height: 31px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  blockquote {
    margin: 0;
  }

  .content {
    margin: 0 40px;
  }

  .content div h1 {
    margin: 0;
  }

  .content div h2 {
    margin: 0;
  }

  .content div h3 {
    margin: 0;
  }

  .content div img {
    margin: 30px 0;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .section3 .main-contact .contact {
    width: 80%;
  }
}

@media screen and (max-width: 610px) {
  hr {
    background: #3897d3;
    height: 3px;
    border: none;
    outline: none;
  }

  .section2 .flex-articles .box3 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: auto;
    border-radius: 15px;
    margin: 10px 10px;
    background: #f3f3f3;
  }

  .section2 .flex-articles .box3 img {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 732px) {
  .info {
    flex-direction: column;
    width: 100%;
  }

  .exp-display .diff-sections .info img {
    height: 300px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .info:hover {
    transform: none;
  }

  .part1 {
    width: 100%;
    height: auto;
  }

  .part1 p {
    margin: 10px 20px;
  }

  .part1 a h2 {
    text-align: center;
  }

  .part1 div {
    margin: 10px 20px;
  }

  .top-display {
    text-align: center;
  }
}

@media screen and (max-width: 862px) {
  .top-display {
    text-align: center;
  }
}

@media screen and (min-width: 1748px) {
  .section2 .flex-articles .box3 {
    margin: 20px 50px;
  }
}

@media screen and (max-width: 906px) {
  .img {
    display: none;
  }

  .section1 {
    height: auto;
    background-attachment: scroll;
  }

  .section1::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    clip-path: none;
  }
  .pointer
  {
      padding-top: 0px;
      padding-bottom: 20px;
  }

  .box {
    width: 100%;
  }

  .box div p {
    text-align: center;
    padding: 10px 12px;
    margin-bottom: 20px;
  }

  .box a {
    margin-bottom: 20px;
    display: none;
  }

  .box h1 {
    text-align: center;
  }

}