{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Antimatter are particles which are exactly opposite of normal matter. These are similar to matter in many aspects just with the opposite charge">
{% endblock %}
{% block title %} What is antimatter {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>What is antimatter Batukeshwar dutt</h1>
        <p class="para">
            We all know what is matter but antimatter ? Matter is anything which we can feel, touch or see. It is the
            basic
            constituent of living or non - living beings. We all know that matter consists of atoms which is ultimately
            made
            of neutron, electron and proton(there are more but we would be considering only these three). Antimatter are
            particles exactly opposite to matter. So every particle in matter has an equivalent antimatter.
        </p>
        <p class="para">
            Antimatters are very identical to matter just with an opposite charge. Like the opposite of electron is
            positron. Positron and electrons are very identical just that electron has a negative charge whereas
            positron
            has a positive charge. Opposite for proton is antiproton which has negative charge. Like for eg 2 and -2 are
            same just with opposite sign and when they meet they result in zero: 2 - 2 = 0
        </p>
        <p class="para">
            Like hydrogen atom consists of one electron and one neutron, its antimatter equivalent will also have one
            positron and one antiproton. Antimatter exists but they are easily annihilated. When a particle or matter
            meets
            its antimatter equivalent, they annihilate each other releasing gamma rays. The next question is then why
            does
            matter dominate. Why did big bang created more matter than antimatter.
        </p>
        <p class="para">
            This questions is very much famous among scientists and it is still being researched although some theories
            are
            formed from experimental tests and observations. Every particle has antimatter particles. We can make anti -
            atoms, antimolecules. Photons have 0 charge so there antimatter is equivalent is -0 which is itself
        </p>
    </div>
</section>

{% endblock %}