{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Big bang theory is a popular theory which explains the origin of the Universe. It states that 13.8 billion years ago Universe was nothing but a infinitely dense, infinitely hot point which suddenly started expanding due to an unknown reason. ">
{% endblock %}
{% block title %} Big Bang theory {% endblock %}

{% block body %}


<section class="content">
    <div>
        <h1>Big bang theory</h1>
        <p class="para">We have always wondered how the universe came into existence, how were planets, galaxies and
            stars were formed. Big bang theory is a popular theory which explains the origin of the universe.It
            describes how the universe expanded from an initial state of high density and temperature, and offers a
            comprehensive explanation for a broad range of observed phenomena, including the abundance of light
            elements, the cosmic microwave background (CMB) radiation, and large-scale structure. Remember Big bang was
            not what happened, but one out of what could possibly have happened. </p>
        <p class="para">Scientists before 1900's used to think that universe is infinite and age-less i.e. there is no
            origin of the universe. But after theory of relativity came, we got to know better about gravitation and
            time. Cosmic background radiation is electromagnetic radiation from the Big Bang. These cosmic radiations
            are kind of echo of the big bang. Later on it was also discovered that galaxies are moving apart. All these
            along with other examples gave rise to big bang theory to be the most accepted theory.</p>
        <p class="para">According to the theory, it all started 13.8 billion years ago when universe was nothing but a
            dot smaller than the size of an atom. Universe started out as infinitely hot, infinitely dense singularity.
            Then it started expanding and stretching at an unimaginable rate. Imagine universe as a balloon which is
            expanding and expanding continuously. Time is said to be originated with big bang. Universe didn't expand
            into anything but the space itseld expanded with time.</p>
        <p class="para"> If there was no universe, no time before big bang,
            then from where did that infinitely hot point came? No idea? What was there before universe? No idea. This
            theory would just explain how universe came into existence and not about the empty void or nothingness
            beyond the universe. Around 13.7 billion years ago, everything we know of was an infinitesimally small
            singularity, a point of infinite denseness and infinite heat.

        </p>
        <p class="para">
        <blockquote>
            "On the big Bang theory: For every 1 billion particles of antimatter there were 1 billion and 1 particles of
            matter. And when the mutual annihilation was complete, one billionth remained – and that’s our present
            universe."
        </blockquote>
        </p>
        <p class="para">In this time energy manifested itself into small particles but only for a very short interval of
            time. Particles like gluons and quarks were formed which started destroying each other almost as soon as
            they were formed. Somewhere around this matter won over antimatter though we dont know why matter dominated
            antimatter. Till that time universe had stretched to a billion kilometers in diameter and thus the universe
            cooled down sufficiently to allow the formation of particles(this time for a longer period of time).</p>
        <p class="para"> By this
            time the universe had cooled down sufficiently to allow neutrons to decay into proton and forming the first
            hydrogen particle. After millions of years the hydrogen particles started grouping together. Gravity started
            compressing these hydrogen particles. The temperature would rise up due to this compression and nucluer
            fission would occur releasing a lot of energy and like this stars were formed. Over a million years later
            these stars had started grouping and thus forming the first galaxies. </p>

    </div>
</section>

{% endblock %}