{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Black holes are very dense regions of immense gravity such that not even light can escape from it. They are formed when a huge star collapses inwards during its death">
{% endblock %}
{% block title %} Black holes - Spazinzo{% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Black holes</h1>
        <p class="para">
        Black holes are the most fascinating, strange and mysterious things in our universe. A black hole is a region
        where the gravitational field is so strong that not even light, the fastest entity of the universe can escape. Albert
        Einstein first predicted the existence of black holes in 1916 with his general theory of relativity. The term
        "black hole" was coined many years later in 1967 by American astronomer John Wheeler. After decades of black
        holes being known only as theoretical objects, the first physical black hole was spotted in
        1971. </p>
        <p class="para">
        In the earlier 1700s, there were two theories about light. One that it comprises particles and another that it
        is made of waves. Of course, now we know that under the wave-particle duality of quantum physics, both theories
        are correct. Light behaves like a wave as well as a particle. Therefore one might say that light can be affected
        by gravity. Physicists were not sure how this happen because the speed of light is fixed. If you throw a ball up
        in the air, it will go up initially, but after some time it will stop its upward journey and fall back. A
        photon, however, must continue at a constant speed. Then how can gravity affect light? </p>
        <p class="para">
        Let's first understand the life cycle of a star. A star is formed when a large amount of gas(mainly hydrogen)
        starts to collapse in on itself due to the tremendous force of gravity. As it collapses, the collision of
        hydrogen particles increases thereby heating them. At some point the gas heats up to such an extent that two
        hydrogen particles don't collide; they merge to form a helium atom. This process is called nuclear fusion. Nuclear fusion releases a huge amount of heat energy, the majority of which is converted to light energy thereby making
        stars shine. The additional energy increases the pressure of the gas. This pressure balances the gravitational
        force and thus the gas stops collapsing. 
        A star remains stable for a long time with the pressure balancing the gravitational force. Eventually, when the
        star runs out of its fuel and hydrogen, it starts collapsing again. The more massive the star is, the faster it
        will run out of its fuel because it would require more heat energy to keep it stable and thus it would end up
        using more fuel. What happens next wasn't clear at that time. Would the star keep collapsing like that? What
        would its ultimate fate be? </p>
        <p class="para">
        
        In 1928 an Indian Graduate student, Subrahmanyan Chandrasekhar realized that when a
        star gets smaller, the particles get closer. But due to the Pauli exclusion principle, two particles cannot have
        the same position and same velocity. Therefore they must have different velocities. This will make them move
        away and therefore stars will have a tendency to expand. Thus the repulsion from the Pauli exclusion principle
        balances the gravitational force of attraction.
        Chandrasekhar did the required calculations and found that there is a limit to the repulsion. This limit is
        known as the Chandrasekhar limit. Stars with mass below the Chandrasekhar limit will settle down as a white
        dwarf star or neutron star with the repulsion from the exclusion principle balancing the gravitational force.
        But with stars having mass above this limit would then keep collapsing, since the exclusion principle repulsion
        won't be able to keep it stable. </p>
        <p class="para">
        According to the theory of relativity, gravity is nothing but the curvature of spacetime. The more the spacetime
        gets curved, the more will be the gravity. It's a bit like a trampoline. If you keep a heavy object at the
        center, the whole trampoline would bend. As the star shrinks, its gravitational field becomes stronger and
        stronger therefore it becomes more and more difficult for objects to escape out. Even light becomes dimmer and
        redder. Once the star shrinks to a certain critical radius, its gravity becomes so strong that not even light
        can escape. According to Einstein, light is the fastest thing in our universe and if light cannot escape,
        nothing else can. </p>
        <p class="para">
        A black hole has an event horizon. It is like a boundary. Once something crosses that boundary, it cannot escape
        the gravity of the black hole. It is formed by rays of light that do not succeed in escaping the black hole,
        instead, keep hovering on the edges of it.
        Two great Physicists - Roger Penrose and Stephen Hawking showed that according to general relativity, there
        ought to be a point of singularity inside the black hole. Singularity is a point in space where matter is
        compressed into zero volume(tends to zero). Therefore the spacetime curvature(or gravity) at that point is
        infinite. It is a point of infinite density because density is mass/volume and since volume, here is zero;
        density is infinite. At singularities, all our science laws break down; predictability breaks down. </p>
        <p class="para">
        If light from a black hole does not reach our eyes, then how do we know that such things exist? First of all,
        astronomers try to study the gravitational effects of black holes on surrounding stars. Second, there is
        something called gravitational lensing which is instrumental in finding black holes. </p>

    </div>
</section>

{% endblock %}