{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="95% of the Universe is made of a strange, invisible and mysterious substance - Dark matter and Dark energy. Its properties and behaviour is unknown and its the empty thing which you see in space.">
{% endblock %}
{% block title %} Dark Matter and Dark energy {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Dark matter and Dark energy.</h1>
        <p class="para">
        What if I told you that the Earth, our moon, the Sun, the planets in our solar system, galaxies, atoms, and
        sub-atomic particles like Electrons, Neutrons, and Protons only make up 5% of the universe which is visible to
        us. Yes! We know that there are millions of galaxies and stars. Earth, Moon, Sun, planets, solar system, our
        galaxy, atoms and molecules, all the ordinary or baryonic matter which is visible only makes up 5% of the
        cosmos. The rest 95% is made up of an invisible, mysterious, and strange substance- Dark matter and Dark energy.
        Dark matter makes up 25% of the unobservable universe, and Dark energy makes up the rest 70%.
        Let's first see about Dark matter. Dark matter works like an attractive force — a sort of cosmic cement that
        holds our universe together. Scientists have not been able to see or observe dark matter directly because it is
        an invisible substance quite different from regular matter, and it doesn't interact with normal baryonic matter.
        It is invisible to light and other forms of electromagnetic radiation, making it impossible to observe it. </p>

        <p class="para">Still, Scientists believe that dark matter exists because of its effect on galaxies. One leading hypothesis is
        that dark matter consists of exotic particles that don't interact with regular matter or light but exert a
        gravitational pull. Several scientific groups, including one at CERN's Large Hadron Collider, are currently
        working to generate dark matter particles for study in the lab.
        If dark matter surprises you, then dark energy will surprise you more. It is weirder than dark matter. Its
        discovery was a complete shock to the Scientists. Previously, physicists had assumed that the gravitational
        force of attraction of trillions of galaxies, planets, black holes, and stars would slow down the expansion of
        the cosmos over time, but after some research and experiments, it was found that the expansion of our universe
        is not slowing down but continuously accelerating. </p>
        <p class="para">
        Scientists thought that some repulsive force is driving the accelerated expansion of the cosmos. They decided to
        call it Dark energy. Dark energy seems to be growing strong as the cosmos is expanding. Currently, we don't know
        much about Dark energy apart from the fact that it is causing Universe to expand at an accelerating speed. Its
        properties and behavior are unknown.
        If dark matter is unobservable and cannot be detected by instruments then how do we know that it exists? Because
        of the gravitational force that they exert on the fabric of space-time. The clusters of gas in galaxies or stars
        would flow apart if there was no dark matter. The motion of stars tells us that there must be some matter which
        is not visible or detectable. Most physicists accept that dark matter exists. Many theories and arguments have
        come up to elaborate on this idea. Astronomers are trying to study dark matter by understanding its effects on
        stars, and galaxies. Meanwhile, physicists are trying to find out the fundamental particles that make up dark
        matter.</p>
        <h2>A big question: Where does dark matter come from?</h2>
        
    </div>
</section>


{% endblock %}