{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Egypt pyramids are one of the most fascinating and marvellous structures built in the history of the world. Yet, they have a lot of mysteries, unsolved questions associated them making them more fascinating.">
{% endblock %}
{% block title %} Mysteries of Egypt pyramids {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Mysteries of Egypt Pyramids</h1>
        <p class="para">
            Pyramids: Pyramids are a masterpiece. They are one of the most famous architectures or places of the World.
            Scientists and archeologists are trying to understand the mysteries of Egypt. They are trying to understand
            the
            pyramids with every technology available but still no success. The most curious question is how they were
            built.
            Lets understand why Scientists are so curious about the process of building pyramids. These pyramids are
            4000-5000 years old. They are made of 23 lakh blocks of stones. Each stone weighs around 2,700-70,000 kg.
            Even
            with our advanced technology, modern cranes can only lift 20,000 kg then in those days with no technology
            and
            cranes how could they lift and transport 70,000kg stones and that too 23 lakh stones. These pyramids are
            perfect
            geometric figures. In those days, advanced math topics such as trigonometry, calculus was not developed,
            then
            how could they measure the angles, do complex calculations and then build such a perfect structure. Now
            coming
            to the interesting part.</p>
        <p class="para">
            There is one possible explanation to it - Aliens. Yes! Aliens. There is one theory related to Egypt's -
            Orion
            correlation theory. If you will see the pyramids at night, then you will see that these pyramids are
            perfectly
            aligned with the constellation of the space - The Orion belt. The Orion belt is a constellation and its main
            three stars are called Alnitak, Alnilam, Mintaka. These pyramids are perfectly synced and aligned with these
            stars. This is nearly impossible. Hence many Scientists say that aliens from these stars had come to earth
            with
            their advanced technology and built these pyramids. The Egyptian mythology says something different. But
            there
            is some connection of these stars and pyramids.</p>
        <p class="para">

            Tunnels of pyramids - Pyramids are filled with mysteries. There tunnels are in fact more mysterious. First
            it
            was thought that the tunnels were present to provide ventilation but it was proved wrong. A robot was sent
            to
            explore the tunnels and they found that the tunnels were in fact closed and there was a door with a kind of
            lock
            at the end of each tunnel. There are three chambers in a tunnel. The king's chamber, the queen's chamber and
            the
            base chamber. But no one know has ever explored properly the discovered chambers. Discovered? that means
            there
            might be hidden chambers present. The robots drilled that door at the end of each tunnel, but before they
            could
            enter they disappeared. Any robot which was sent at the other side of the door would disappear mysteriously.
            And
            then the government forbade people to explore the tunnel because once who went in would never come out.</p>
        <p class="para">

            Why were pyramids built? You may have heard or read that the pyramids were built so that the mummies of the
            kings and queens could be kept inside the pyramids. But....... But... the thing is.... that not a single
            mummy
            has been found from or discovered from these pyramids. The tombs were empty.

            More mysteries of pyramids: The pyramids are present at the geographical center of the Earth. Yes sure it
            could
            be coincidence but remember that these were built at the time when people didn't know much about earth and
            its
            geography. One more shocking fact, one of the parts of pyramids are in perfectly alignment with the North
            pole.
            If we draw a line from the center of these pyramids, then they align with the North pole</p>
        <p class="para">

            Pyramid stones: The stones used in pyramids were stronger than any other rocks. After analyzing the rocks,
            Scientists told that these rocks are not found anywhere in the world but Egypt and the composition of rocks
            is
            still a mystery

            construction technology: The pyramids were built using ball and socket technique. In fat this type of
            architecture can tolerate heat and it can also tolerate earthquakes. Just imagine, such type of technology
            in
            those days

            Natural AC inside pyramids - The Egyptian pyramids are located in a desert region where temperature is close
            to
            50 C, yet the temperature inside the pyramids is constant and relatively cool that is about 30 C, which is a
            comfortable temperature. There are also many carvings present which depict the images of UFO, aliens and
            thus
            the alien theory is much more famous. These might be coincidences but so many coincidence cannot happen.
            What do
            you think, had aliens come to earth at that time, how had they built, is there any connection with the
            aliens of
            another star? </p>
    </div>
</section>

{% endblock %}