<HTML>
<HEAD>
<TITLE>Universe</TITLE>
</HEAD>
<BODY BGCOLOR= VIOLRET text= WHITE>
<FONT FACE = Algerian SIZE=4>
<H1 ALIGN= CENTER>OUR UNIVERSE </H1>
<HR SIZE=15 ALIGN= CENTER WIDTH=50% COLOR= BLUE>
<H2> STARS </H2> There are many stars in our universe. One of them is 
<I> SUN.</I> Sun is the main source of energy in our solar system.
<H3> SUN </H3>
Sun is at the center of our solar system.<U><P>it provides us with heat and light</P></U>
</FONT>
<font FACE = MANGAL SIZE=4>
<h2> planets </H2>
<p>THEre are 8 planets in our soloar system.<B> EARTH</B>is one of them.
<H3> EARTH</H3>
earth is a <I>green  planet </I>
</Font>
</BODY>
</HTML>
