<HTML>
<HEAD>
<TITLE>My Hobby </TITLE>
</HEAD>
<BODY BGCOLOR= SKYBLUE TEXT=RED>
<H1 ALIGN=CENTER><B> List of activities<B> </H1>
<FONT size = 12 face COLOR= BLACK>
1.Drawing <BR>
2.Swimming <BR>
3.Singing <BR>
4. Dancing <BR>
5. Art and Craft 
</Font>
 <HR>
<H1 ALIGN= LEFT><B>List of Subjects</B> </H1>
<FONT SIZE= 12 FACE  COLOR= YELLOW >
1.<U><B> mathematics </U> </B><BR>
2.<I>computers </I><BR>
3.<B> Science </B><BR>
4.<U><B> English </U> </B><BR>
5.<U><I> Hindi </U> </I><BR>
</FONT>
</BODY>
</HTML>