<HTML>
<HEAD>
<TITLE> MY hobby </TITLE>
<HEAD>
<BODY BGCOLOR= Skyblue TEXT =RED>
<H1 align= center><B> lIST OF ACTIVITIES</B> </H1>

<FONT SIZE=5 COLOR= BLACK>
1.Drawing <BR>
2. Swimming <BR>
3.Singing <BR>
4.Dancing <BR>
5.Art and craft
</Font>

<HR>
<h1 ALIGN= LEFT><B> List of Subjects </B></h1>
<FONT SIZE=6 FACE= ALGERIAN COLOR =YELOW>
1.<U> Mathematics </U> <BR>
2.<I>COMPUTERS </I> <BR>
3.<B> SCIENCE </B> <BR>
4.<B><U> ENGLISH </B> </U> <BR>
5. <I> <U> HINDI </I> </U>
</FONT>
</BODY>
</HTML>