{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Quantum information is always preserved but a black hole tries to delete it. This creates a paradox because information can never be deleted which implies that somehow information does not get deleted in a black hole.">
{% endblock %}
{% block title %} Black Hole information Paradox {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1> Black holes information paradox. </h1>
        <p class="para">
            The black hole information paradox is a paradox about quantum information. According to the law of
            conservation
            of Quantum information, quantum information is always preserved, but black holes could delete that
            information.
            This creates a paradox that must be resolved, or we might have to rewrite some of the laws of modern
            physics.
            First, let's talk about Black holes in brief. </p>
        <p class="para">
            Black holes are one of the strangest things that exist in the Universe. Black holes are formed when a large
            amount of matter is compressed in a very tiny space. The theory of relativity states that objects with huge
            mass
            or density bend spacetime around it. Since a large amount of mass is compressed into very tiny space, black
            holes have incredibly high densities and thus they curve spacetime around it to such an extent that nothing
            can
            escape from a black hole, not even light, the fastest entity of the cosmos. At the center of the Black
            holes,
            there is a point called singularity which is of infinite density and the gravity at that point tends to
            infinity. A black hole has an event horizon which is like a boundary. You cross it and it is practically and
            theoretically impossible to return. Nothing could escape. </p>
        <p class="para">
            This was what we thought until the discovery of
            Hawking's radiation. Stephen Hawking said that Black holes lose mass due to Hawking radiation. Although it's
            an
            Incredibly slow process that might take billion or trillion years, it creates a problem you see. At the end
            of
            the universe, when a Blackhole would evaporate completely, the quantum information which went inside it
            would be
            deleted or will be lost. But according to the law of conservation of quantum information, quantum
            information
            can never be deleted or created, it can be transferred. It means that quantum information must be preserved.
            And
            hence it inevitably creates a paradox. </p>
        <h2>What is quantum information?</h2>
        <p class="para">
            In the classical world, information is just a detail, explanation, fact, summary about something. But in
            quantum
            mechanics, quantum information is the information about the atoms and the sub-atomic particles of the
            object. It
            consists of information about the atoms, elements of the object, which all elements are there, the spin of
            an
            electron, its properties, how the atoms are arranged, etc. Graphite consists of carbon atoms and so is a
            diamond, then why are they different. We, humans, are made of carbon, hydrogen, and other elements, then why
            is
            each human different from the other? That's the quantum information that makes us different. If you burn
            paper,
            it will turn into ash, but if you know the properties and information of each particle, you would be able to
            recreate the same paper! If you know the information of each particle of this Universe, then you can predict
            the
            past and the future of this universe. Quantum information is always preserved, it just gets transferred but
            a
            black hole tries to delete it creating the information paradox. </p>

        <p class="para">

            There are a few possibilities of the information paradox. <br><br>
            1) The information is lost. If this is so what happens, we need to rewrite some of our physics laws.
            <br><br>
            2) The information is hidden. Information might be hidden in some other form. It's there but we can't see or
            detect it. <br><br>
            3) Information is safe. We know black holes suck all the information which crosses the event horizon but we
            don't know what it does with this information. According to some researches, it may be possible that black
            holes
            store their information on the event horizon. As the black holes grow, the event horizon also grows to make
            more
            space for information. This gives rise to a new principle called the holographic principle.</p>
        <p class="para"> The hawking
            radiation coming out will know the information and perhaps information is saved. If the information is truly
            encoded on the event horizon, that means 3-d objects stuff is encoded on a 2-d event horizon. This is what a
            hologram is! A black hole would be a hologram because everything is encoded on a 2-d surface. The person
            inside
            won't feel it but the person from outside will see 3-d information on a fat event horizon. This may suggest
            that
            perhaps Universe is also kind of the same, where we are holographic projections. This is weird, strange, and
            too
            complicated. <br><br>
            4) Some suggest that information paradox doesn't exist and it is a misunderstanding about how general
            relativity
            and quantum field theory interact. </p>

        <p class="para">

            Whatever might be the true reality of nature, the information paradox holds the key to new, exciting
            discoveries
            about the Universe. </p>
    </div>
</section>

{% endblock %}