{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Mandela effect is a mysterious effect which occurs when a large group of people believe and are convinced that such an incident occures where in reality it hasn't occured. It started with Nelson's mandela death when a huge number of people remembered something else which never occured.">
{% endblock %}
{% block title %} Mandela effect - The mysterious effect {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Mandela effect</h1>
        <p class="para">
        Mandela effect is a great mystery to everyone. The Mandela effect occurs when a large group of people believes
        an event occurred when in reality it did not. Suppose you wake up one morning and realize that there is nothing
        called Facebook. How will you feel? Surprised? Shocked? Puzzled?
        The term Mandela Effect was first coined in 2009 by Fiona Broome when she created a website to detail her
        observance of the phenomenon. Broome was at a conference talking with other people about how she remembered the
        tragedy of former South African president Nelson Mandela's death in a South African prison in the 1980s.
        However, Nelson Mandela did not die in the 1980s in a prison; he passed away in 2013. As Broome began to talk to
        other people about her memories, she learned that she was not alone. Others remembered seeing news coverage of
        his death as well as a speech by his widow.
        Broome was shocked that such a large mass of people could remember the same event in such detail when it never
        happened. Encouraged by her book publisher, she began her website to discuss what she called, the Mandela Effect
        and other incidents like it. </p>
        
        <p class="para">Examples of Mandela effect</p>
        <h2>Luke, I Am Your Father</h2>
        <p class="para">
        If you saw Star Wars: Episode V—The Empire Strikes Back, you probably remember Darth Vader uttering the famous
        line, "Luke, I am your father." You might be surprised to learn that the line was actually, "No, I am your
        father." Most people have memories of the line being the former rather than the latter. </p>
        <p class="para">
        <h2>Jif vs. Jiffy logo</h2> <p class="para">
        Jif is a famous brand of peanut butter, but many people remember the brand’s label a little differently —
        specifically as Jiffy. Just imagine how you would feel if you woke up and saw that it was Jif instead of Jiffy.</p>
        <h1>Possible explanations of Mandela's effect</h1>
        <h2>Alternate realities</h2>
        <p class="para">
        One of the possible explanations of the Mandela effect comes from quantum mechanics and parallel universe
        theory. Alternate realities of the parallel universe may mix with our timeline. In theory, this would result in
        groups of people having the same memories because the timeline has been altered as we shift between these
        different realities. In simple words, that means it may be possible that memories from other universes are
        mixing. Many physicists believe that there might be infinite universes, each with different possibilities. You
        might be a doctor in one universe, an engineer in another, an artist in some other, or an actor in another. So
        it may happen that due to some reasons, memories from you-in-different-universe may get transferred to you,
        making you and many others believe that an incident occurred when in reality it never happened. </p>
        <h2>False memories</h2>
        <p class="para"> 
        This is a more likely and scientifically correct explanation for the Mandela Effect, which entails false
        memories, where your recollection of an event is not an accurate depiction. It does not mean you are lying. More
        precisely, this is honest lying. A person creates a false memory without intending to lie or deceive others.
        Instead, they are attempting to fill in the gaps in their memory. You may have certain memories, but there may
        be gaps between those, so your mind automatically tries to fill in the gaps with a possible series of events
        creating the false memory.</p>
    </div>
</section>

{% endblock %}