{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="An object with mass cant never travel at the speed of light or greater than that. Speed of light is the universal limit. ">
{% endblock %}
{% block title %} Mass and relativity{% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1> Why can’t an object with mass travel at the speed of light or greater than it? </h1>
        <p class="para">
            You know that Einstein’s theory
            of relativity states that as the speed of the object approaches the speed of light, its mass increases. Now
            the
            concept of mass increasing is misleading so instead of mass increasing, visualize it as energy of the body
            increasing.</p>
        <p class="para">
        <blockquote>
            "It followed from the special theory of relativity that mass and energy are both but different
            manifestations of the same thing - a somewhat unfamiliar conception for the average mind. Furthermore, the
            equation E = mc², in which energy is put equal to mass, multiplied by the square of the velocity of light,
            showed that very small amounts of mass may be converted into a very large amount of energy and vice versa."
        </blockquote>
        </p>
        <p class="para">

            More the velocity of the body, more is the energy that means the faster a body moves through space, more the
            energy is required to accelerate the body. Now, once the speed of object reaches very close to the speed of
            light, almost infinite energy would be required to move or accelerate it and once it reaches the speed of
            light,
            infinite energy would be required to move or accelerate it which is impossible.</p>
        <p class="para">

            Just think you need to apply infinite energy to move the object. Once you apply infinite energy, the object
            will
            move or accelerate. But infinite means never ending so it would take never ending energy and thus infinite
            time
            to move and hence the object will not move or accelerate. On the other hand light consists of photons.
            Photons
            are massless so this doesnt apply on them</p>
        <h1>How nature restricts you to travel at a speed less than that of light? </h1>
        <p class="para">
            Many people say that they have an idea of violating the fundamental physics law which states that the
            nothing can go faster than the speed of light. <br>

            Suppose There is a man inside a spaceship which is travelling in space. Suppose the spaceship accelerates to
            a speed slightly less than the speed of light. Now once, the spaceship reaches this speed, that man will
            start walking inside his spaceship. The idea is that the speed of spaceship + speed of man walking inside
            will exceed the speed of light. </p>
        <p class="para">

            Now suppose there is a woman standing outside the spaceship. From the woman’s perspective, time is running
            very slow in the spaceship and hence the speed of the man’s walking is also very very slow, hence the speed
            of the man and his spaceship will not exceed the speed of light. Now the more the speed of spaceship
            increases, more the time will flow slowly.</p>
        <p class="para">

            Once the speed of the spaceship reaches the speed of light, time will stop completely in the spaceship, so
            the walking of the man will also stop completely and hence the speed of the man will be zero and it will not
            exceed the speed of light.</p>
    </div>
</section>

{% endblock %}