{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Bermuda and Dragons triangle are one of the most mysterious places in the world. These are triangular stretch of water where all planes, ships and humans disappear mysteriously never to be found again. ">
{% endblock %}
{% block title %} Bermuda and Dragon's triangle {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Bermuda triangle</h1>
        <p class="para">
        It is a loosely defined region in the western part of the North Atlantic ocean. As the name suggests, it is a
        triangle. It is one of the most arcane and weird places. Even in this world of technology and scientific
        advancements, many bizarre incidents occur that science cannot explain. One of them is the Bermuda triangle. It
        is a triangular stretch of water where ships, airplanes, humans, and other disappear mysteriously, never to be
        found again. Creepy, right? Let us see a few incidents, and you will know. </p>
        <p class="para">
        1). Year: 5 December 1945. Flight 19. Fourteen men took off in the air. That was their part of training. After 1
        hour 45 minutes, the flight’s leader - Charles C. Taylor contacted the radio tower. He informed them that all
        the three compasses had stopped working. His navigation instruments were going haywire. He did not know in which
        direction the plane was flying. BOOM! Flight 19 was never found again. On the same day, a rescue plane was sent
        to find the missing plane. But even that airplane and its members got lost in the triangular stretch of water.
        Similarly, thousands of airplanes and ships have disappeared in the Bermuda triangle never to be found again.
        Scientists from all over the world have attempted to understand the reason behind these disappearances. All
        compasses, bulbs, and electronic devices stop working in the Bermuda triangle making it difficult to track any
        ship. </p>
        <p class="para">
        Many theories have been formulated to explain the reason behind this, but each is unlikely the other. According
        to one, there is a very strong magnetic field in this area. Since ships are primarily made of iron ore, the
        stretch of water attracts them to the seabed. That still does not explain why humans disappear.
        According to a strange theory, the Bermuda triangle is a portal to another world. A portal is kind of a doorway
        thing that transports you from one place to another almost instantly. It is said that the Bermuda triangle is
        also a portal to another world, and that's the reason why no one has ever returned from it. I find it less
        probable because such things haven't been proved yet and it is very unlikely that a portal will appear in the
        Bermuda triangle undetected by satellites or humans unless science shows its wonders. </p>
        
        <h1>Dragon's triangle</h1>
        <p class="para">
        Well, many of us know about the Bermuda triangle. But, do you know about another similar triangle. Yes! The
        Dragon’s triangle. Very few people know about it. Let us explore its mystery.
        Year: 8 September 1980, A ship named Derbyshire was sailing towards its destination. Two times bigger than the
        titanic, a very reputed ship, no one ever thought something like this was going to happen to it….. the whole
        ship with its crew and passengers disappeared due to some enigmatic reason. Even with the most experienced
        pilots, all traces of the ship along with the passengers vanished. </p>
        <p class="para">
        When the disappearances started increasing in number, the government got worried and was determined to find the
        reason, and thus the search began! A ship was sent to find out where exactly all these ships disappear. A
        research team was called for this matter.
        More than 100 scientists and geologists were contacted who were experts in this field. Although that government
        ship went with full preparation it never came back. After that, not a single ship was sent there.
        The area was officially declared a danger zone. Only with the help of maps and satellites, the research could be
        done(not airplanes or helicopters because even they would go haywire). </p>
        <p class="para">
        The scientists realized that Bermuda and the dragon’s triangle are aligned. Both of them are on the extreme
        side. Is it a coincidence? Well, many say that these places are somehow connected. It's strange, isn't it?. You
        have two triangles that lie on the same line, and in both triangles secretive and bizarre incidents take place.
        After the government had declared that area a danger zone, two divers of japan had again ventured out to find
        out more about the Dragon's triangle. Instead of entering the treacherous stretch of water, they started
        observing the boundaries of the triangle, hoping to find some clue. Fortunately, God heard them, and they
        stumbled upon something. They noticed that there were man-made structures built at the perimeter, like walls of
        some underground cities. Surprisingly, nothing was mentioned about any underground city or such in history of japan or any southeast asian country. The
        government is still researching to unearth its secrets. Till then, we can only avoid the two triangles. </h1>
    </div>
</section>

{% endblock %}