{% extends "base.html" %}
{% block meta1 %}
<meta name="description" content="Quantum mechanics is ths study of behaviour of particles at sub-atomic level. The usual classical physics kind of goes haywire in this quantum realm and a new laws of physics acts on this sub-atomic level


"> {% endblock %}
{% block title %} Quantum mechanics {% endblock %}

{% block body %}
<section class="content">
    <div>
        <h1>Quantum Mechanics</h1>
        <p class="para">
            Quantum mechanics - It is one of the world's most difficult topic. Even with the current technology and
            physics
            we have not yet fully understood how it really works. Here are some amazing and mind-blowing fundamentals of
            quantum mechanics described in a very easy manner that will change your sight of how world works in reality-
        </p>
        <p class="para">

            First - What is Quantum mechanics? Quantum mechanics is a fundamental theory in physics that provides a
            description of the physical properties of nature at the scale of atoms and subatomic particles. It explains
            the
            behavior of matter and its interactions with energy on the scale of atomic and subatomic particles. It deals
            with the behavior of matter and light on the atomic and subatomic scale. So basically it means study of the
            properties and behavior of smaller particles like atoms and its subatomic particles - Electrons, Protons and
            Neutrons.</p>
        <p class="para">

            Now things down there does not happen in the same way as up here. This might surprise you but you need to
            know
            this. You take an object. Suppose you zoom through the image of the object(Ignore the device used or picture
            quality), you will see that the object is made of solid particles - atoms, If you zoom more - you will see
            electrons, neutrons and protons. If you zoom more, you will notice that the sub-atomic particles are made of
            another smaller particles called quarks. NOW, if you zoom more you will notice that everything is made of
            energy. Yes no more solid particles only energy. Energy is the essence of universe. Everything is made of
            energy, a wave. Solidity is an illusion. So instead of an electron looking like a particle it should look
            like a wave
        </p>
        <p class="para">
        <blockquote>
            "Quantum physics tells us that nothing that is observed is unaffected by the observer. That statement, from
            science, holds an enormous and powerful insight. It means that everyone sees a different truth, because
            everyone is creating what they see."
        </blockquote>
        </p>

        <p class="para">

            This is called a wave function. Now this wave isn’t like a wave of sound or water. No, no. It is an abstract
            mathematical description. To get the real world properties like position or momentum of an electron, we need
            to
            do some operations. So we will take the amplitude of the wave and square it, we will get a wave in which the
            upper crest is the part of high probability and lower trough part is low probability. This is called a
            probability description. It tells where the electron most probably will be.</p>
        <p class="para">

            Now the thing is, no one has ever seen how this wave looks like. Why? The particles mostly exists as a wave
            but
            as soon as we see it collapses into a solid particle. So when not observing, it is a wave but as soon as
            someone
            observes it, it will collapse into a solid particle. Now there might be two questions coming in your mind?
            1).
            How the scientists know that it is a wave if the wave cannot be seen. 2). Exactly is it a particle or a
            wave. Ok
            so the answer to the first question is that the scientists performed some experiments (the most famous being
            double slit experiment) and they observed that a wave like patter was formed by these particles. Actually
            that specific wave like pattern can only be formed when two waves interact with each other, but we were
            using only particles which imples that somehow the particles are also behaving like waves

            Answer
            to the second question is that the particle is a wave and also a particle. It is invisible and also visible.
            Strange right ? Yes, this is the truth. And this is called the particle-wave duality.</p>
        <p class="para">

            Quantum entanglement: It basically states that when two waves interact with each other, they get connected
            such that even if you take them apart from each other, one will affect another. Like if two particles
            interact with each other and now I take them 10<sup>10</sup> Km far apart and rotate one particle, the other
            will also rotate. Einstein was very uncomfortable about this property of Quantum Mechanics. Imagine two
            particles interacting with each other and I take them several light years apart. If I will move the first
            particle, the other particle will also move in the same way, which implies, that I can instantly know about
            the behaviour of the second particle which is many light years apart, and that means information is
            travelling faster than speed of light which doesnt agree with classical physics laws.</p>
        <p class="para">

            Quantum tunneling: Suppose you throw a ball and it hits a wall. Either the ball will come to a stop or the
            ball
            will bounce back. At least this is what happens in classical physics. In quantum mechanics these rules kind
            of go haywire. A particle or more specifically a wave can pass through a barrier. Now this thing might look
            simple but in reality it is not. There is a lot more complex theory and equations behind it, but we will
            cover
            just the fundamental part.</p>
        <p class="para">

            The quantum tunneling effect is a quantum phenomenon that occurs when particles move through a barrier that,
            according to the theories of classical physics, should be impossible to pass through. The barrier may be a
            physically impassable medium. Upon encountering a barrier, a quantum wave will not end abruptly; rather, its
            amplitude will decrease exponentially. This drop in amplitude corresponds to a drop in the probability of
            finding a particle further into the barrier.</p>
        <p class="para">

            If the barrier is thin enough, then the amplitude may be non-zero on the other side. This would imply that
            there
            is a finite probability that some of the particles will tunnel through the barrier. The tunneling current is
            defined as the ratio of the current density emerging from the barrier divided by the current density
            incident on
            the barrier. We are alive due to quantum tunneling in the Sun. Usually protons repel each other but they
            have
            got a strong probability of quantum tunneling into each other which turns hydrogen into helium releasing
            fusion
            energy</p>

    </div>
</section>
{% endblock %}