{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Theory of relativity is a notion that states laws of physics is same for observers. It tells that motion of a body is relative depending upon the inertial frame. It generally comprises of two theories">
{% endblock %}
{% block title %} Theory of relativity {% endblock %}

{% block body %}


<section class="content">
    <div>
        <h1>Theory of relativity</h1>
        <p class="para">
            The theory of relativity consists of two inter-related theories:
            A). Special relativity - Special relativity applies to all physical phenomena in the absence of gravity. It
            is
            the theory of the structure of spacetime. It is based on two postulates. <br>
            1). Laws of physics are the same for all observers in any inertial frame relative to one another <br>
            2). The speed of light in a vacuum is the same for all observers, regardless of their relative motion or the
            motion of the light source. </p>
        <p class="para">
            Some of its consequences are: <br>
            1). Two events may be simultaneous for one observer but may not be for another observer if they are in
            relative
            motion. It may be more noticeable or applicable if one of the objects is moving at a speed, close to the
            speed
            of light <br> <br>
            2). Time dilation: Time dilation means that time is running slower for someone. Suppose you go to a park at
            8 am
            and come back home after one hour. You see that everyone is looking for you and are worried for you. They
            tell
            you that you have been missing for one day. <br>
            In your watch, it is 9 am but for others, it is the next day which means time was running slow for you, and
            you
            have experienced time dilation.
            When the speed of an object or person approaches the speed of light, then time for that object or person
            runs
            slowly as compared to a stationary clock. Time dilation is also experienced in places of extremely strong
            gravity like black holes. It is also reported that time dilation is experienced in the Bermuda triangle as
            well. <br> <br>
            3). When the speed of an object or person approaches the speed of light, then the objects are measured to be
            shortened in the direction that they are moving with respect to the observer. The person will not notice any
            change that is why it is said to be relative. <br> <br>
            4). E = mc2, energy and mass are equivalent and transmutable. <br> <br>
            5). When an object travels at a speed closer to the speed of light, its mass also changes. </p>
        <p class="para">
            Once the speed of the object reaches the speed of light, then the mass becomes infinite. Many people will
            say
            how mass can become infinite. It requires an understanding of reference frames, transformation equations,
            and
            some more conceptual understanding. <br>
            Though, the concept of changing mass is misleading. A better way to understand it is in terms of
            relativistic
            momentum and energy. You can also visualize it like this. Suppose a man is pushing a spaceship in space, and
            you
            are watching it from an inertial frame. As the speed of the spaceship will approach the speed of light, its
            energy will increase. <br> It means that more energy will be required to move that spaceship. From your
            point of
            view, it will look like its mass has increased and hence the spaceship is requiring large force to move.
        </p>
        <p class="para">
            Here is a fantastic quote by Brian Greene:
        <blockquote>
            "Einstein's theory of relativity does a fantastic job of explaining big things. Quantum mechanics is
            fantastic
            for the other end of the spectrum — for small things. The big problem is that each theory is great for each
            realm, but when they confront each other, they are ferocious antagonists, and the mathematics falls apart."
        </blockquote>
        </p>
        <p class="para">
            B) General relativity is a theory of gravitation developed by Einstein in the years 1907–1915
            1). Time dilation is experienced in places having strong gravity like black holes. <br>
            2). Precession: Orbits precess in a way unexpected in Newton's theory of gravity. (This has been observed in
            the
            orbit of Mercury). <br>
            3). Rays of light bend in the presence of a gravitational field or due to curvature of spacetime. <br>
            4). Rotating masses "drag along" the spacetime around them. <br>
            5). The universe is expanding continuously, and the far parts of it are moving away from us faster than the
            speed of light. </p>
        <p class="para">
            Many experiments have been performed to test the theory of relativity. Some experiments are critical to its
            validation.
            Theory of relativity applications: There are some useful applications of the theory of relativity. It is
            used in
            modern days satellites(mainly used in GPS systems). If the theory of relativity had not been there, the GPS
            would never have predicted our location accurately. It is also used in electron microscopes. </p>
    </div>
</section>


{% endblock %}