{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="When a person tries to change or alter an event in past, he inevitably creates an infinite loop of an event in time. These are the time paradoxes">
{% endblock %}
{% block title %} Time paradoxes {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Grandfather Paradox</h1>
        <p class="para">What is the Grandfather Paradox which has puzzled so many physicists. Grandfather Paradox is
            based on time travel and events that cant and can take place. Lets see

            Suppose there is a child, who travels back in time and kills his Grandfather. Since he kills his
            Grandfather, his father is never born and since his father is never born, that child is also never born. One
            min.... if the child is never born, then he doesn't travel back in time and since he never travels back in
            time he doesn't kill his grandfather and hence his grandfather is alive and so his father also alive and so
            the birth of the child takes place.

            The child now again goes back in time, kills his grandfather. Since his grandfather is dead, his father is
            never born nor he is. And hence he is also not born which means he wont go back in time to kill. If he
            doesnt go back in time to kill his grandfather is alive, so is his father and so he is. Which means he will
            go back in time... This creates an infinite loop.</p>
        </p>

        <h1>Predestination paradox</h1>
        <p class="para">
            A Predestination Paradox occurs when the actions of a person traveling back in time becomes part of past
            events, and may ultimately causes the event he is trying to prevent to take place. </p>
        <p class="para"> This results in a
            ‘temporal causality loop’ in which Event 1 in the past influences Event 2 in the future (time travel to the
            past) which then causes Event 1 to occur, with this circular loop of events ensuring that history is not
            altered by the time traveler, and that any attempts to stop something from happening in the past will simply
            lead to the cause itself, instead of stopping it. </p>

        <p class="para">

            This paradox suggests that things are always destined to turn out the same way, and that whatever has
            happened must happen.

            Lets see an example - Suppose an old man dies in an accident while crossing the road. You are very sad on
            hearing this news and decide to save the life of the old man. Now you make a time machine and travel back in
            time. But........ you travel back in time only to find out that it was you because of which the old man
            died. So you had gone back in time not to alter the past but to create or fulfill an event in history. So
            actually on that day your future came back in time and that's how this event happened. This is the
            Predestination Paradox where you don't change the past but create an event in the past.
        </p>
        <p class="para">No matter what you try, you will never be able to change the past here because the past, present and future is pre-destined. It forms a closed loop where there is no beginning and no end. You were the one who caused the old man's death causing yourself to go back in time to cause the event.</p>
    </div>
</section>

{% endblock %}