{% extends "base.html" %}
{% block meta1 %} <meta name="description" content="It was a fine morning when respected air marshall, Sir Robert Victor Goddard experienced something highly unusual and strange. According to some reports, he had experiences time slip. Was it real or fake? What had happened? "> {% endblock %}
{% block title %} Time slip 3 {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Sir Robert Victor Goddard's time slip into future</h1>
        <p class="para">Year: 1935. Location: Sweden</p>
        <p class="para">

            A respected air marshal - Sir Robert Victor Goddard was going to Edinburgh from Andover. He decided to fly
            over
            Drem, airbase in Scotland. Drem was an abandoned airbase which was closed for many years. It was
            inhabitable. No
            people lived there. It had turned into a farm with cattle grazing and nothing was there. It was a kind of
            jungle. When he was flying above that abandoned airbase, something happened suddenly……</p>
        <p class="para">
            He was seeing the view of that place when in middle of the flight, suddenly the weather changed into a
            stormy one. Lightening and thunder lashed. And the thing which he saw is called mystery. He saw that
            suddenly the weather changed into a normal sunny one. His plane got disbalanced and then when he looked
            down…</p>
        <p class="para">

            he saw that the abandoned and inhabitable airbase turned into a fully functional airbase. He saw that the
            people were working in BLUE uniform. Those BLUE uniform people were fixing the damaged aeroplanes. After few
            seconds, again rain, storm and then he saw that the base was once again abandoned, inhabitable. He somehow
            maintained the balance of plane. After landing in Edinburgh, he told everyone whatever he saw. Everyone
            laughed at him. The thing is that Robert Victor Goddard was a respected air marshal, he was a very
            intelligent person. People didn’t know why he was saying such things. No one believed him. This story was
            ignored until…4 years later one miracle took place.</p>
        <p class="para">

            The once abandoned and closed airbase became a fully functional airbase. It was completely renovated. It was
            a place where damaged airplanes were fixed by people in BLUE uniform. One minute….. wasn’t this seen by
            Robert 4 years before. That same thing happened 4 years later. That’s the mystery. Sir Robert victor Goddard
            saw this thing 4 years before. The most popular theories say that he experienced time slip into future. He
            slipped in future and then came back in present only for a few moments.</p>
    </div>
</section>

{% endblock %}