{% extends "base.html" %}
{% block meta1 %} <meta name="description" content="The time when John titor told the world that he is a time-traveller, when the lady experienced time slip into past, when the great physician some sort of time glitch, has greatly surprised the word. Who are they and what had happened with them? "> {% endblock %}
{% block title %} Time Slip 1 {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>
            Time Slip incidents
        </h1>
        <p class="para">
            1). John Titor - On November 2, 2000. In an internet discussion forum where people from all over world talk.
            A
            new account joined that day and his post leaved every one in confusion - “According to John Titor’s posts,
            he
            was an American military man, based in Tampa, Fla., working for the government as part of a time travel
            initiative. In his posts, he detailed the extent of the project and the results of his findings. He claimed
            that
            he had been selected for the project due to his paternal heritage. His father’s father had worked for IBM in
            the
            1970s and had worked to create the IBM 5100, an early computer model. Titor said that in the year 2036, he
            had
            been selected to travel back to 1975, and obtain an IBM 5100, which would help future scientists in decoding
            a
            computer program. He had stayed in 2000 to see how past looks like” -</p>
        <p class="para">
            of course everyone thought this was fake. Then people asked him from proof. And then the proof he sent
            surprised
            everyone. He also told many incidents which would happen - He told that a large earthquake is going to come
            in
            Peru. And guess what? After few months, on 23 June 2001, Peru experienced the biggest earthquake. He also
            told
            many incidents, which happened in reality. According to his posts, 50% were false and 50% were true. But how
            can
            someone’s 50% predictions, posts be true. Is time travel possible. On 24 march, 2001 was his last post and
            then
            he disappeared and not a single post has been posted from that account.</p>
        <p class="para">
            2). Back in time within a blink of eye - Dr E.G. moon was a great physician. He got a call from his patient
            and
            the patient told the doctor to come to his home and do a check up of him. His patient lived in a big
            mansion.
            Doctor went to his home and found his patient on the bed. Then he told - “I have forgotten my check up
            device in
            the car. Let me bring it”. Doctor, then went down and the the thing which he saw outside the house ….</p>
        <p class="para">

            He saw that his car and the fence around the house was vanished. The road was also a weak road instead of
            that
            normal road. The road looked like that of 100yrs before. It was a mud road that you see in a village. He
            also
            saw that people and shops that looked like of 100 yrs before. He turned around to see whether the house was
            there or not. The house there but again when he turned around… …… everything was normal. His car, the fence
            was
            there. Nothing mysterious. How this happened. Whether this is a case of time travel or time glitch or time
            slip,
            no one knows.</p>
        <p class="para">

            3). The vanished cafe. - 18 June, 1968, a lady like before went for shopping. She used to go many times for
            shopping, etc. On her way she decided to drink coffee. Then she saw a cafe which she had never ever seen. It
            looked very old. She went inside and saw that the cafe looked like that of olden days. The people were also
            wearing clothes which were in a fashion several years before. She didn’t pay much attention. Then few days
            later
            she thought she would visit the cafe shop again. But when she reached ……. the cafe shop was not there. She
            asked
            nearby people about the old fashioned cafe. They said that there was a cafe shop but it had been closed
            several
            years before. She was confused. How can she visit a cafe shop, which existed several years ago. The most
            famous
            theory states that she experienced time slip. That means she visited the past for a few hours or minutes,
            and
            then she came back into the present. No one knows whether these incidents are true or not. No one can
            explain
            how this happened.</p>
    </div>
</section>

{% endblock %}