{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Time travel in future can be achived by using theory of relativity. If a person travels at closer-to-light speed he experiences time dilation which means he can travel in future. Time travel in past can be acheived by wormholes.">
{% endblock %}
{% block title %} Is time travel possible or not? {% endblock %}


{% block body %}

<section class="content">
    <div>
        <h1>Is time travel possible or not?</h1>
        <p class="para">
        Time travel has always been a fascinating topic for all of us. A lot of times we have seen in sci-fi movies that
        heroes are travelling back in time using those highly complex machines. Like in Harry Potter and the prisoner of
        Azkaban, Harry and Hermione travel back in time to save the lives of two(no spoiler). After the theory of
        relativity was published, time travel became theoretically possible. Before we see how time travel can be
        achieved, let's talk in brief about some postulates of the theory of relativity
        According to it, as your speed approaches the speed of light, the slower the time goes for you. At the speed of
        light, time will completely stop for you i.e. you will stop aging(sadly, it is impossible). </p>
        <blockquote>
            “I myself believe that there will one day be time travel because when we find that something isn’t forbidden
            by the over-arching laws of physics we usually eventually find a technological way of doing it.”
        </blockquote>
        
        <h2>Time travel in future</h2>
        <p class="para">
        We can achieve time travel in the future by applying the theory of relativity principles. If we manage to travel
        at a speed, very close to the speed of light, then for us time will go slower that means when we will return to
        earth, we would be only two days older or like that, but 20-30yrs would have passed on earth. But for that, we
        need to attain a speed close to the speed of light that is currently not possible. That's why I said time travel
        is theoretically possible but not practically(currently). </p>

        <h2>Time travel in past</h2>
        <p class="para">
        As of now, this can only be achieved using wormholes. It's a hypothetical connection between widely separated
        regions of space-time. Suppose you want to travel to another galaxy that is a million light-years away. If you
        go by spaceship, it will take more than a thousand generations of your life. To travel such vast distances, you
        can use a wormhole. If you travel by a wormhole, you can reach there almost instantly. Not only space but also
        you can travel in time. It is a kind of shortcut through space-time. Scientists have found that if you move a
        wormhole in a specific way it can be used for time travel, but it would require very advanced technology that we
        haven't attained yet. Two more problems arise here.</p>
        <p class="para">
        1) Wormholes are exiguous, like 10-33cm. Perhaps they might have grown due to the expansion of the universe.
        Also, we haven't detected any distinct and big wormholes near earth. </p>
        <p class="para">
        2) Wormholes collapse very quickly, so unless they are stable, we cant travel through there. Although adding
        exotic matter to a wormhole might stabilize it to the point that human passengers could travel safely through
        it, there is still the possibility that the addition of "regular" matter would be sufficient to destabilize the
        portal. Today's technology is insufficient to enlarge or stabilize wormholes, even if they could be found. You
        can read more about wormholes in my wormhole articles</p>
        <h2>Would there be some reaction if we alter an event in past?</h2>
        <p class="para">
        Even if we are successful in traveling back in time using wormholes, we need to be a lot more careful. Because
        changing some events in past may ultimately and inevitably create time paradoxes that will drive you crazy. Just
        imagine being stuck in a moment forever. It would be insane. There are many paradoxes of time that can take
        place if care is not taken while traveling back in time. Bootstrap paradoxes, Grandfather paradox, and
        Predestination Paradox are a few of those famous paradoxes. There is a whole article based on it - Time
        paradoxes. Secondly, it would violate a lot of time fundamentals and laws if you misuse time travel in the past.
        Thirdly, a slight alteration can change the whole history which is dangerous, so there have to be time
        restrictions on time travel. Any change in the past will affect its present. </p>
    </div>
</section>


{% endblock %}