{% extends "base.html" %}
{% block meta1 %} <meta name="description" content="These couple and their two friends went to france for their holidays. They stayed in a hotel for one night and the next day went for some sight-seeing. When they returned back they found that the hotel in which they had stayed had closed several decades ago..."> {% endblock %}
{% block title %} Time Slip 2 {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Time Slip 4</h1>
        <p class="para">
        The magical hotel. Year: 1979. A couple and their two friends went to France on their holidays or vacation. They
        visited many places, and enjoyed themselves. Then they decided to book a hotel. They were driving through a
        road, when they saw a amazing but weird and strange hotel. They decided to stay in that hotel. When they went
        inside they saw something strange. They saw that the people were wearing very old fashioned clothes which were
        like several decades old. Unfortunately, the hotel was full. So they went to another hotel and booked their
        rooms but that hotel was also strange.... same old dressing style, same old architecture and all. They didn’t
        think much about it.</p>
        <p class="para">

        They clicked many photos of the hotel. Then the next day they went to explore more places of France. After
        sight-seeing and enjoying, they were tired and they decided to go back to their hotel but......when they came…..
        they found a big and empty ground in place of their hotel, both the hotels had disappeared. They were confused
        and scared because how can two hotels suddenly vanish in one day. Imagine that you realize that the hotel were
        staying in for one week existed 50 years ago……</p>
        <p class="para">

        They asked the nearby people and the people told them that the ground was empty for several years and there used
        to be two hotels here several decades ago. They suddenly remembered the photos they clicked and when they saw
        the photo, they were extremely shocked and scared. The photos of the hotel were blank and empty.</p>

    </div>
</section>

{% endblock %}