{% extends "base.html" %}
{% block meta1 %} <meta name="description" content="Time doesn't allow every time changing of events. Sometimes time restricts you to change the past and creates an infinite loop resulting into various paradoxes"> {% endblock %}
{% block title %} Time travel Time-travel-restrictions-on-changing-past {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Time-travel-restrictions-on-changing-past</h1>
        <p class="para">
            Even if in future you travel back in time you can never change the some events in past. Lets see

            Suppose there is an old man which dies in an accident and you are saddened on hearing this news. You decide
            to
            prevent the old man from dying in that accident and hence you start building a time machine. You make a time
            machine and then travel back in time at that day but you will not be able to change the past no matter
            however
            you try.</p>
        <p class="para">

            Because just think about this.... you travelled back in time to save the old man... if you save the old man
            then
            the old man would have been alive, if the old man would have been alive, then you wouldn't have built a time
            machine to save him, if you hadn't built a time machine then you wouldn't have travelled back in time and if
            you
            hadn't travelled in time you could not have saved the old man and so naturally there would be an infinite
            loop
            ultimately preventing you to change the past
        </p>
        <p class="para">Take another example for instance. If you go back in time to steal sweets from your kitchen. You
            still the sweets, you eat it and you come back in present. Just think for a moment, if the sweets were
            stolen in past, then in present you would never go back in time to steal them and therefore you would never
            steal them. If you wont steal, the sweets would be still there and thus you will go back in time. This cycle
            will go on until it is broken by some other event. <br>
            If you go back in time without any purpose and by mistake if you change past, then I think it wont be a
            problem because the there was no purpose of travelling in time, and therefore even if the event gets
            altered, you will still go back in time. This is only applicable to some cases. In fact if you have read
            "Harry potter and the cursed child" or "Harry potter and the prisoner of azkaban", you will see there the
            concept of time travel is used very much. Especially how it used to change past.</p>
        <p class="para">
            Scientists are still researching on this topic. The challenge here is time is a very mysterious thing, and
            changing past is different. All the events, things are connected with one another through time and altering
            them leads to a seriously complicated senario. Here is a famous quote of Stephen Hawking:
        </p>
        <p class="para">
        <blockquote>
           " Time travel used to be thought of as just science fiction, but Einstein's general theory of relativity
            allows for the possibility that we could warp space-time so much that you could go off in a rocket and
            return before you set out."
        </blockquote>
        </p>
    </div>
</section>

{% endblock %}