{% extends "base.html" %}
{% block meta1 %} <meta name="description" content="The pilots of the national airline 727 plane were suddenly told to land the plane although everything was fine. When the pilots landed the plane, the officers at the control tower told them that the plane was missing from the radar for 10 minutes... "> {% endblock %}
{% block title %} Time Slip 2 {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Time Slip</h1>
        <p class="para">
        1). Broken radar contact: The mystery of plane: - This is a very interesting incident of time slip. Year: 1974.
        Location : Florida, Miami. One national airline 727 was up in the air. Everything was normal until…….The pilots
        of the plane suddenly got an emergency message from the control tower. The pilots were told to land the plane
        immediately. Pilots got confused. Everything was fine. The day was sunny. No thunderstorms, no hijacking, no
        rain, and and no other issue. Then why were they told to land the plane suddenly?</p>
        <p class="para">

        The pilots landed the plane and all the passengers came out of the plane. The pilots were frustrated and they
        asked the control tower for this emergency landing. The security guards then told the pilot that the plane was
        missing or vanished from the radar for 10 minutes. The radar detects and shows all the planes which enter or
        leave the airport, but this plane suddenly vanished for 10 minutes. All the other planes were shown in the radar
        but this plane wasn’t. But from pilot’s point of view, everything was normal.</p>
        <p class="para">

        Then the people at the control tower asked the pilot that what is the time on the pilots, cockpit’s and
        passenger’s watch. The time in the plane(pilots and passenger’s watch ) was 9:20. But in reality the time was
        9:30.

        Now its getting mysterious. When the plane took off, the time was correct. It was the same time. But when the
        plane was reported to be missing, then the time in the plane was 10 minutes behind.</p>
        <p class="para">

        Scene at the control tower when the plane vanished: “The plane might have crashed”, ”A plane can’t disappear
        suddenly, it might have crashed”, “send emergency services immediately”. The emergency services were looking for
        the plane. The radar was normally showing all the planes which were entering or leaving. Many planes were
        travelling over the place where the plane 727 disappeared. And then suddenly plane 727 reappeared. The plane
        suddenly appeared at that same spot.

        Even if the plane did not crash, the plane should have moved ahead from that spot. But it was at that same spot.
        The passengers did not find anything unusual. The most popular theories state that for 10 minutes that plane
        didn’t exist only. No one knows how this happened. No can explain what and how it happened.</p>
    </div>
</section>

{% endblock %}