{% extends "base.html" %}
{% block meta1 %}
<meta name="description"
    content="Wormholes are kind of tunnels or theoretical passage through space-time linking two distant space-time regions. They are shortcuts through the universe">
{% endblock %}
{% block title %} Wormholes {% endblock %}

{% block body %}

<section class="content">
    <div>
        <h1>Wormholes</h1>
        <p class="para">
            A wormhole (or Einstein–Rosen bridge or Einstein–Rosen wormhole) is a speculative structure linking
            disparate points in spacetime, and is based on a special solution of the Einstein field equations. Wormholes
            are basically shortcuts through space-time. That means through a wormholes you can travel very huge and
            large distances in a matter of seconds. This sounds fascinating. Wormholes can be used to achive
            interstellar travel and you can also travel from one universe to another. But does it seem so easy? Are
            wormholes real? Can we acheive interstellar space travel using wormholes </p>
        <p class="para">
            Earlier scientists used to think space is a solid stage on which events of universe is unfurling. Only after
            theory of relativity, we learnt that space is not a solid-flat stage but a fabric of space and time such
            that it can be distorted, stretched and warp itself around objects with huge mass
        </p>
        <img src="{{url_for('static',filename='wormhole.png')}}" alt="wormholes">
        <h2>Where are wormholes?</h2>
        <p class="para">General relativity says they might be possible but that doesnt mean they exist. So General
            relativity might theoretically and mathematically denote the existence of wormholes but if they are real we
            dont know.</p>
        <h2>Einstein Rosen Bridge</h2>
        <p class="para">Thses were the first wormholes to be theorized. They describe every black hole as a wormhole, as
            a portal to other part of universe. Space-time warps itself around a very huge mass. If we compress the
            mass, space time gets more curved and ultimately there comes a point where it curves so much that it
            collapsed into a wormhole. These are wormholes are a one way wormholes so once you go in you cant come back.
            But these type of wormholes are not traversable which means you cant travel in such wormholes so we need a
            wormhole through which we can travel.</p>
        <h2>String theory wormholes</h2>
        <p class="para">If string theory is rightly describes the reality of the universe then these type of womrholes
            may exsist. After big bang quantum fluctuations in universe might have create many traversable wormholes
            held together by strings called cosmic strings. If wormholes were made shortly after big bang then there
            might be numerous wormholes all round and we just have to discover them</p>
        <h2>Man made wormholes</h2>
        <p class="para">To make a wormhole we need to keep 3 things in our mind. It should connect two distant
            space-time points. It should be a two way route and not like black holes which are one way carriers. Third
            is it should be sufficiently big for us to travel. Biggest challenge is that gravity tries to close
            wormholes. Gravity wants it to pinch and close the wormholes and so we need something else which would keep
            the wormholes open at both ends</p>
        <p class="para">And such a thing is exotic matter. This is something totally different with different
            properties, behaviour and physics rules. Exotic matter has negative mass which is weird. We have studied in
            physics that mass is always positive. Thats why this is just crazy idea. Tow objects with negative mass will
            repel each other whereas in case of real matter two objects with masses would attract each other due to
            gravitational force of attraction. Exotic matter will have to apply tremendous amount of energy to keep
            wormholes open so that they dont collapse</p>
        <p class="para">Furthermore, Opening wormholes and travelling through them would violate the structure and rules
            of this universe and would create time paradoxes. We would need very advanced technology to create
            wormholes, to move them, to keep them open and thus travelling through them. Till them wormholes are just
            piece of equations and mathematical concepts. </p>

    </div>
</section>

{% endblock %}